#Backend

# Database
DATABASE_URL=

# Redis
REDIS_ADDR=

# JWT
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

# App
APP_PORT=

#Frontend

#Url
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WEB_SOCKET_URL=localhost:8080